
body {
    background: #8698A9;
//    background-color: #16143C;
    font-family: sans-serif;
    font-family:sans-serif; 
    margin: 0px;
}

.subtitleGrey { color: #666666; font-size: small; }
.subtitle { color: #666666; text-align: right; font-size: small; padding-top: 0px; }

div.main { padding: 10px; background-color: rgba(255, 255, 255, .85); margin-bottom: 10px; }

div.main p:first-child {
    margin-top: 0px;
}

b {
    color: #333;
}

div.content {
    background-image: url('./Scrolling-iPad@2x.png');
    background-size: 540px 960px;;
    min-height: 100%;
    margin: 0px;
    padding: 10px;
}
div.main p:last-of-type {
    margin-bottom: 0px;
}
#notes {
    min-height: 45;
}
.nav {
    background-color: rgba(255, 255, 255, .85);
    padding-left: 10px;
    padding-right: 10px;
    margin: 0px;
}
.nav li {
    list-style: none;
    border-top: 1px solid #aaaaaa;
    padding-left: 0;
    background: url(arrow.png) no-repeat right center;
    background-size: 8px 13px;
    padding-bottom: 0px;
}
.nav li:first-child {
    border-top: none;
}
.nav a {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    color: black;
    text-decoration: none;
}
.nav a span {
    display: block;
    max-width: 92%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.nav a span.cancelled {
    text-decoration: line-through;
    color: #666666;
}
.thumbnail {
    text-align: right;
}
.thumbnail img {
    max-width: 50%;
}
div.hilite-yellow {
    background-color: yellow;
}
.scheduled {
    background: url('./851-calendar-selected@2x.png') no-repeat;
    background-size: 23px 25px;
    padding-left: 28px;
}
.hashTag {
    color: #444444;
    text-align: right;
    font-size: small;
    padding-top: 6px;
    line-height: 45px;
}
.floatRight { float: right; }
.clear {
    clear: both;
    padding-bottom: 20px;
}
.action-button {
    color: #914E32;
    text-decoration: none;
}
.hashTag .action-button {
    margin-left: 10px;
}

img.floatRight {
    margin-left: 10px;
}
