body { 
    background: #8698A9;
    font-family:sans-serif;
    margin: 0px;
}
div.content {
    background-image: url('./Scrolling-iPad@2x.png');
    background-size: 540px 960px;
    min-height: 100%;
    margin: 0px;
    padding: 5px;
}

.valediction { text-align: right; }
div.main { padding: 10px; border: 2px solid #A24724; -webkit-border-radius: 12px; background-color: rgba(255, 255, 255, .8); margin-bottom: 15px; }

div.main p:first-child {
    margin-top: 0px;
}
h2 { margin-top: 0px; }
h2 span { font-weight: normal; }
table.alternating { border: 1px solid black; -webkit-border-radius: 12px; background-color: white; border-spacing: 0px; }
table.alternating tr td, table.alternating tr th { padding: 8px; vertical-align: top; }
table.alternating tr:nth-child(even) td { background-color: #C9CEED; }
table.alternating tr th { background-color: #505cb3; color: white; }
table.alternating tr:first-child th { -webkit-border-top-left-radius: 12px; -webkit-border-top-right-radius: 12px; }
table.schedule tr td:nth-child(even) { text-align: right; white-space: nowrap; }
table.schedule { width: 100%; }
.floatRight { float: right; font-size: large; }
.callout { border: 1px solid black; padding: 5px; }
.callout h3 { margin-top: 0px; }
.dealerListing span { display: block; text-align: right; font-size: small; font-weight: bold; }
.dealerListing { margin-bottom: 5px; border-bottom: solid 1px #505CB3; }
